#app .navbar .home-link span:before {
    display: inline-block;
    content: '';
    width: 3rem;
    height: 2.4rem;
    background: url('../img/icon.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}